<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="/<%= app %>/static/css/load.css">
    <style>
        .main {
            margin: 40px 30px 0px 30px;
        }

        .main-top {
            margin: 40px 30px 0px 30px;
            width: 100%;
        }

        .main-foot {
            margin: 60px 30px 0px 30px;
            width: 95%;
        }
    </style>
</head>
<body>
<header class="am-topbar am-topbar-inverse">
    <h1 class="am-topbar-brand">
        <a href="#">Mohoo 统计 , <%= number %></a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="#">首页</a></li>
            <li><a href="/<%= app %>/add">添加统计</a></li>
        </ul>
        <div class="am-topbar-right">

        </div>
        <div class="am-topbar-right">
            <!--<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"-->
                    <!--onclick="javascript:window.location.href='/mhcensus/login'">登录-->
            <!--</button>-->
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"
                    onclick="javascript:window.location.href='/mhcensus/loginExit'">注销
            </button>
        </div>
    </div>
</header>
<div class="main-top" hidden>
    <div class="am-g">
        <div class="am-u-lg-6">
            <div class="am-input-group">
                <input type="text" class="am-form-field">
              <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button">查询</button>
              </span>
            </div>
        </div>
    </div>
    <div class="am-g" style="margin-top:10px;">
        <div class="am-u-lg-6">
            <div class="am-input-group">
                <input class="am-form-field" type="text" data-am-datepicker="{format: 'yyyy-mm-dd'}"
                       style="width:230px;margin-right:20px;"/>
                <input class="am-form-field" type="text" data-am-datepicker="{format: 'yyyy-mm-dd'}"
                       style="width:230px;"/>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <table class="am-table">
        <thead>
        <tr>
            <th>业务名称</th>
            <th>链接地址</th>
            <th>统计渠道</th>
            <th>创建时间</th>
            <th>PV</th>
            <th>UV</th>
            <th>图表</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% if(dataList.length > 0){ %>
        <% for(var i = 0;i < dataList.length;i++){ %>
        <tr class="records" data-value="<%= dataList[i].channel %>" id="recordsTr<%= dataList[i].channel %>">
            <td><%= dataList[i].business %></td>
            <td><%= dataList[i].businessUrl %></td>
            <td><%= dataList[i].channel %></td>
            <td><%= dataList[i].createtime %></td>
            <td id="PVCount<%= dataList[i].channel %>"><i class="am-icon-spinner am-icon-spin"></i></td>
            <td id="UVCount<%= dataList[i].channel %>"><i class="am-icon-spinner am-icon-spin"></i></td>
            <td>
                <input type="radio" name="options" value="<%= dataList[i].channel %>" id="option1">
            </td>
            <td>
                <a href="javascript:;" class="am-close am-close-alt am-close-spin am-icon-times"
                   onclick="del('<%= dataList[i].channel %>')"></a>
            </td>
        </tr>
        <% } %>
        <% }else{ %>
        <tr>
            <td colspan="5">暂无记录</td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<div class="main-foot" hidden>
    <div class="am-tabs" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">统计图表</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-active" id="tab1">
                <div style="height:400px;width:900px;" id="zhuzhuangtu">

                </div>
                <div style="height:400px;width:900px;" id="zhexiantu">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"></div>
        <div class="am-modal-bd">
            你，确定要删除这条记录吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm id="confirmBtn">确定</span>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js" rel="stylesheet"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js" rel="stylesheet"></script>
<script src="/<%= app %>/static/js/lib/socket.io-1.3.7.js"></script>
<script src="https://cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>
<script src="/<%= app %>/static/js/zhutu.js"></script>
<script type="text/javascript">
    //    $(function () {
    //        var timeOut = 3000, socket = io();
    //
    //        socket.on('getUVRecordsCount', function (data) {
    //            if ($("#UVCount" + data.channel).html() != data.UvCount) {
    //                $("#UVCount" + data.channel).animate({height: 'toggle', opacity: 'toggle'});
    //                $("#UVCount" + data.channel).html(data.UvCount);
    //                $("#UVCount" + data.channel).animate({opacity: 'show'});
    //            }
    //        });
    //
    //        setInterval(function () {
    //            $(".records").each(function (index, obj) {
    //                socket.emit('getUVRecordsCount', $(obj).attr("data-value"));
    //            });
    //        }, 5000);
    //
    //        socket.on('getRecordsCount', function (data) {
    //            if ($("#PVCount" + data.channel).html() != data.PvCount) {
    //                $("#PVCount" + data.channel).animate({height: 'toggle', opacity: 'toggle'}, "slow");
    //                $("#PVCount" + data.channel).html(data.PvCount);
    //                $("#PVCount" + data.channel).animate({opacity: 'show'});
    //            }
    //        });
    //
    //        setInterval(function () {
    //            $(".records").each(function (index, obj) {
    //                socket.emit('getRecordsCount', $(obj).attr("data-value"));
    //            });
    //        }, 5000);
    //
    //        /**
    //         * init
    //         */
    //        $(".records").each(function (index, obj) {
    //            socket.emit('getRecordsCount', $(obj).attr("data-value"));
    //            socket.emit('getUVRecordsCount', $(obj).attr("data-value"));
    //        });
    //    });
</script>